
<div class="card card-body">
  <form action="/login" method="POST">
      <label for="email">Email address</label>
      <input type="email">
      <label for="password">Password</label>
      <input type="password">
    <button type="submit">Submit</button>
    <a href="/resetpass">
      Forgot Password
    </a>
  </form>
</div>