<h1>Resetting your password is very easy. Just type your E-mail and we'll reach you.</h1>
 <form action="/resetpass" method="POST">
            <label for="email1">Email address</label>
            <input type="email" name="email">
        <button type="submit">Submit</button>
 </form>
